.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
node_modules/**
!node_modules/sqlite3/**
!node_modules/@mapbox/**
!node_modules/node-addon-api/**
!node_modules/bindings/**
!node_modules/file-uri-to-path/**
.github/**
*.backup
*.bak
*.bak2
*.bak3
DEVELOPMENT.md
.DS_Store
