.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
.github/**
*.backup
*.bak
*.bak2
*.bak3
DEVELOPMENT.md
.DS_Store
