.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
node_modules/**
!node_modules/sqlite3/**
!node_modules/@mapbox/**
!node_modules/node-addon-api/**
!node_modules/bindings/**
!node_modules/file-uri-to-path/**
!node_modules/mongodb/**
!node_modules/@mongodb-js/**
!node_modules/mongodb-connection-string-url/**
!node_modules/bson/**
!node_modules/neo4j-driver/**
!node_modules/neo4j-driver-core/**
!node_modules/neo4j-driver-bolt-connection/**
!node_modules/rxjs/**
.github/**
*.backup
*.bak
*.bak2
*.bak3
DEVELOPMENT.md
.DS_Store
